@import url("https://fonts.googleapis.com/css2?family=Six+Caps&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,400&display=swap");

html {
   font-size: (14*100/483) +vw;
}

@media screen and (max-width :767px) {
    html {
        font-size: (14*100/375)+vw;
    }
}

/* @function rem($size, $base_size: 14) {
    @return $size/$base_size*1rem;
} */



#root {
    max-width: 483px;
    width : 483px;
    margin: 0 auto;
    padding: 15px;
    display: block;
    position: relative;
}

.test-bg{
    background-image: linear-gradient(to right bottom, #082757, #032e6b, #003580, #023c96, #0c42ab);
}

.container{
    border-radius: 7px;
    overflow: hidden;
    padding-bottom : 40px;
}

:root {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
